table th:nth-child(1),td:nth-child(1) {
    padding: 10px;
    border-left: 7px solid red;
}
.height-fit-content {
    height: fit-content;
}
.width-fit-content {
    width: fit-content;
}
.page-size-width {
    width: 100px;
}
.page-custom-btn {
    width: 42px;
    height: 40px;
}
table thead th {
    font-weight: 600;
}
.dep-search-field {
   outline: none;
   border: none;
}
.highlight {
  background-color: yellow !important;
  font-weight: bold;
}
.highlight-row {
  color: white !important;
  background-color: #0d6dfd !important;
  opacity: 0.8;
  transition: background-color 0.5s ease;
}


