<div class="overflow-auto">
  <div [ngClass]="{'table-dark': darkMode, 'table-white': !darkMode}" class="caption-side-top custom-fw-1"><span class="cursor-pointer" (click)="goBack()"><img [src]="darkMode ? 'images/arrow_back_32dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png' : 'images/arrow_back_32dp_000000_FILL0_wght400_GRAD0_opsz40.png'" alt=""></span>&nbsp;&nbsp;Total dependencies found: <span [ngClass]="{'text-warning': darkMode, 'text-primary': !darkMode}" class="h5 fw-bold">{{dependencies.length}}</span>
  <div class="d-flex justify-content-between align-items-center float-end">
    <div class="d-flex">
    <div class="d-flex align-items-center"><div class="bg-primary p-2 rounded-circle w-fit-content h-fit-content"></div>&nbsp;&nbsp;likelyCPEs</div>&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="d-flex align-items-center"><div class="bg-danger p-2 rounded-circle w-fit-content h-fit-content"></div>&nbsp;&nbsp;Vulnerabilities</div>
    </div>&nbsp;&nbsp;
  <span *ngIf="dependencies.length > 0">
  <input class="dep-search-field rounded ps-3 py-1" type="text" [ngClass]="{'text-white': darkMode, 'text-dark': darkMode, 'custom-auto-black': darkMode, 'custom-app-grey': !darkMode}" placeholder="Search" (keyup)="searchDependencies($event)">
  </span>
  </div>
</div>
<table *ngIf="dependencies.length > 0" [ngClass]="{'table-dark': darkMode, 'table-white': !darkMode}"
class="table rounded border-secondary table-responsive-lg table-borderless table-striped mt-2">
    <thead>
        <tr>
            <th>Dependency Name</th> 
            <th>Vendor</th>
            <th>Product</th>
            <th>Version</th>
        </tr>
    </thead>
     <tbody>
        <tr *ngFor="let dependency of pagedDependencies">
            <td><a  [innerHTML]="dependency.dependencyName | highlight:searchTerm" [ngClass]="{'fw-bold': dependency.vulnerabilities?.length > 0 || dependency.likelyCPEs?.length > 0,'text-white': darkMode && dependency.vulnerabilities?.length === 0 && dependency.likelyCPEs.length === 0, 'text-dark': !darkMode && dependency.vulnerabilities?.length === 0 && dependency.likelyCPEs.length === 0,'text-danger': dependency.vulnerabilities?.length > 0 && dependency.likelyCPEs.length === 0, 'text-primary': dependency.likelyCPEs.length > 0}" class="cursor-pointer" (click)="handleDependency(dependency)"></a>
            &nbsp;&nbsp;<span *ngIf="dependency.vulnerabilities?.length > 0" class="text-danger fw-bold">[{{dependency.vulnerabilities?.length }}]</span>
            <span *ngIf="dependency.likelyCPEs?.length > 0" class="text-primary fw-bold">[{{dependency.likelyCPEs?.length}}]</span></td>
            <!-- <td>{{dependency.cpeEnumeration?.vendor | highlight:searchTerm}}</td>
            <td>{{dependency.cpeEnumeration?.product | highlight:searchTerm}}</td>
            <td>{{dependency.cpeEnumeration?.version | highlight:searchTerm}}</td> -->
            <td [innerHTML]="dependency.cpeEnumeration?.vendor | highlight:searchTerm"></td>
            <td [innerHTML]="dependency.cpeEnumeration?.product | highlight:searchTerm"></td>
            <td [innerHTML]="dependency.cpeEnumeration?.version | highlight:searchTerm"></td>
        </tr>
     </tbody>
</table>
</div>
<!--------------------------------No-vulnerability-data-start------------------------------------->
<div #noDependency *ngIf="dependencies.length === 0" [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode}" class="d-flex justify-content-center align-items-center mt-2">
  <div class="text-center">
    <span [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" class="h3">No Dependency Data Found</span>
  </div>
</div>
<!--------------------------------No-vulnerability-data-end--------------------------------------->


<div *ngIf="dependencies.length > 0" class="row justify-content-center height-fit-content">
<div class="col-lg-5 d-flex justify-content-evenly align-items-center height-fit-content">
  <mat-label class="text-nowrap custom-fw-1" [ngClass]="{'bg-dark': darkMode, 'bg-alice': darkMode, 'border-white': darkMode, 'border-dark': darkMode,'text-white': darkMode, 'text-dark': !darkMode}">Page Size</mat-label>
  <mat-select class="border rounded page-size-width p-2" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" (selectionChange)="onPageSizeChange($event)" [(ngModel)]="pageSize">
    <mat-option [ngClass]="{'bg-dark':darkMode, 'bg-white':!darkMode, 'text-white':darkMode, 'text-dark': !darkMode}" *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </mat-option>
  </mat-select>
<span [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" class="custom-fw-1">{{start}} - {{end}} out of {{dependencies.length}} dependencies</span>

<button (click)="previousPage()" [ngClass]="{'bg-white': darkMode, 'custom-app-grey': !darkMode}" class="page-custom-btn btn d-flex justify-content-center align-items-center outline-0 border-0 rounded-circle shadow-sm"> 
<mat-icon class="material-symbols-outlined">
arrow_back_ios
</mat-icon>  
</button>
<button (click)="nextPage()" [ngClass]="{'bg-white': darkMode, 'custom-app-grey': !darkMode}" class="page-custom-btn btn d-flex justify-content-center align-items-center outline-0 border-0 rounded-circle shadow-sm">
<mat-icon class="material-symbols-outlined">
arrow_forward_ios
</mat-icon>
</button>
</div>
</div>

