table th:nth-child(1),td:nth-child(1) {
    padding: 10px;
    border-left: 7px solid red;
}
.height-fit-content {
    height: fit-content;
}
.width-fit-content {
    width: fit-content;
}
.page-size-width {
    width: 100px;
}
.page-custom-btn {
    width: 42px;
    height: 40px;
}
table thead th {
    font-weight: 600;
}
.dep-search-field {
    outline-color: rgb(221, 235, 248);
    border:1px solid rgb(171, 213, 252);
}
