<!-----------------------------------------update-form-start--------------------------------------->
  <div class="dash-theme text-white py-2 d-flex justify-content-between align-items-center">
      <div class="flex-grow-1 text-center fnw-bold"> Update Application Data</div>
      <div class="position-absolute end-0 me-2">
      <button class="btn bg-secondary rounded-circle d-flex p-1 align-items-center text-white" (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon class="material-symbols-outlined fw-bold">close</mat-icon>
      </button>
      </div>
  </div>
  <form [formGroup]="updateApplicationForm" class="container-fluid" (ngSubmit)="onSubmit()" mat-dialog-content>
    <div class="row mt-2">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Name</mat-label>
      <input matInput formControlName="softwareName" placeholder="Name" readonly>
      <mat-error class="error-field" *ngIf="updateApplicationForm.get('softwareName')?.hasError('required')">
        Please fill this field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Version</mat-label>
      <input matInput formControlName="softwareVersion" placeholder="Version" readonly>
      <!-- <mat-error class="error-field" *ngIf="updateApplicationForm.get('version')?.hasError('required')">
        Please fill this field
      </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Vendor</mat-label>
      <input matInput formControlName="vendorName" placeholder="Vendor" readonly>
      <!-- <mat-error class="error-field" *ngIf="updateApplicationForm.get('vendorName')?.hasError('required')">
        Please fill this field
      </mat-error> -->
    </mat-form-field>

   <mat-form-field appearance="fill" class="full-width">
   <mat-label class="fw-bold">Installed Date</mat-label>
   <input matInput [matDatepicker]="picker" formControlName="installedDate" placeholder="Choose a date" readonly>
   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
   <mat-datepicker #picker></mat-datepicker>
   <!-- <mat-error class="error-field" *ngIf="updateApplicationForm.get('installedDate')?.hasError('required')">
    Please fill this field
   </mat-error> -->
   </mat-form-field>

    <div mat-dialog-actions class="d-flex justify-content-end py-2">
      <button class="btn btn-gray-shade" type="button" (click)="dialogRef.close()">Cancel</button>
      &nbsp;
      <button class="btn btn-gray-shade" type="submit" [disabled]="!updateApplicationForm.valid">
        Update
      </button>
    </div>
    </div>
  </form>