<div class="view-table border-theme overflow-auto">
<table class="styled-table">
  <caption class="status-title sticky-top bg-white fnw-bold">{{title}}</caption>
  <thead>
    <tr class="dash-theme text-white">
      <th>Name</th>
      <th>Vendor</th>
      <th>Version</th>
      <th>{{applicationDate}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>

      <!-- Applications Section -->
      <tr *ngIf="!applicationsData?.length">
        <td colspan="5" class="empty">No applications found</td>
      </tr>
      <ng-container *ngIf="applicationsData?.length"></ng-container>
        <tr *ngFor="let app of applicationsData">
          <td>{{ app.name }}</td>
          <td>{{ app.vendorName }}</td>
          <td>{{ app.version }}</td>
          <td colspan="2">{{ app.installedDate }}</td>
        </tr>
    </ng-container> 
  </tbody>
</table>
</div>