<div class="status-title sticky-top dash-theme text-white fs-5 py-2 text-center fnw-bold">💻 {{title}}
    <button mat-icon-button class="btn bg-secondary p-1 rounded-circle d-flex align-items-center text-white float-end" (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="material-symbols-outlined fw-bold">close</mat-icon>
    </button>
  </div>
<div class="view-table border-them overflow-auto">
<table class="styled-table">
  <thead>
    <tr class="dash-theme text-white">
      <th>Name</th>
      <th>Vendor</th>
      <th>Version</th>
      <th>{{applicationDate}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>

      <!-- Applications Section -->
      <tr *ngIf="!applicationsData?.length">
        <td colspan="5" class="empty">No applications found</td>
      </tr>
      <ng-container *ngIf="applicationsData?.length">
        <tr *ngFor="let app of applicationsData">
          <td class="text-nowrap">{{ app.name }}</td>
          <td>{{ app.vendorName }}</td>
          <td>{{ app.version }}</td>
          <td colspan="2">{{ applicationDate === 'Installed Date' ? app.installedDate : app.updatedAt}}</td>
        </tr>
        </ng-container>
    </ng-container> 
  </tbody>
</table>
</div> 