<ul class="nav flex-column">
          <li data-bs-toggle="collapse" data-bs-target="#scanType" class="nav-item cursor-pointer py-3 ps-2 d-flex align-items-center"><span class="material-symbols-outlined d-flex align-items-center p-1 bg-light rounded">capture</span>&nbsp;<a class="nav-link text-white">Scan</a></li>
          <ul id="scanType" class="collapse">
          <li class="nav-item py-2 ps-2 d-flex align-items-center"><span class="material-symbols-outlined d-flex align-items-center p-1 bg-light rounded">capture</span>&nbsp;<a class="nav-link text-white">Scan File</a></li>
          <li class="nav-item py-2 ps-2 d-flex align-items-center"><span class="material-symbols-outlined d-flex align-items-center p-1 bg-light rounded">capture</span>&nbsp;<a class="nav-link text-white">Scan Project</a></li>  
        </ul>
     </ul>