<div>
  <span class="h5 text-secondary">Add Computer Details</span>
  <!-- <form [formGroup]="computerForm" class="mt-2 rounded-2">
    <div class="table-wrapper rounded-2 table-shadow">
      <table class="compform-table bg-white">
        <thead class="dash-theme text-white">
          <tr>
            <th>IP Address *</th>
            <th>Host Name *</th>
            <th>OS Name *</th>
            <th>OS Version *</th>
            <th>Location *</th>
          </tr>
        </thead>

        <tbody class="border border-top-0 border-start-0 border-end-0 border-bottom">
          <tr>
            <td>
              <mat-form-field appearance="fill" class="full-width">
                <input matInput formControlName="ipAddress" placeholder="Enter IP Address">
                <mat-error
                  *ngIf="computerForm.get('ipAddress')?.touched && computerForm.get('ipAddress')?.hasError('required')">
                  Please fill this field
                </mat-error>
                <mat-error
                  *ngIf="computerForm.get('ipAddress')?.touched && computerForm.get('ipAddress')?.hasError('pattern')">
                  Please enter a valid format
                </mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field appearance="fill" class="full-width">
                <input matInput formControlName="hostName" placeholder="Enter Host Name">
                <mat-error
                  *ngIf="computerForm.get('hostName')?.touched && computerForm.get('hostName')?.hasError('required')">
                  Please fill this field
                </mat-error>
                <mat-error
                  *ngIf="computerForm.get('hostName')?.touched && computerForm.get('hostName')?.hasError('pattern')">
                  Please enter a valid format
                </mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field appearance="fill" class="full-width">
                <input matInput formControlName="osName" placeholder="Enter OS Name">
                <mat-error
                  *ngIf="computerForm.get('osName')?.touched && computerForm.get('osName')?.hasError('required')">
                  Please fill this field
                </mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field appearance="fill" class="full-width">
                <input matInput formControlName="osVersion" placeholder="Enter OS Version">
                <mat-error
                  *ngIf="computerForm.get('osVersion')?.touched && computerForm.get('osVersion')?.hasError('required')">
                  Please fill this field
                </mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field appearance="fill" class="full-width">
                <input matInput formControlName="location" placeholder="Enter Location">
                <mat-error
                  *ngIf="computerForm.get('location')?.touched && computerForm.get('location')?.hasError('required')">
                  Please fill this field
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <button mat-raised-button class="bg-gray-shade mt-3" (click)="addComputerData()" type="submit">
                Submit
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </form> -->
<form [formGroup]="deviceForm" class="mt-3">
  <div class="table-wrapper table-shadow rounded-2">
    <table class="compform-table bg-white">
      <thead class="dash-theme text-white">
        <tr>
          <th>Device ID *</th>
          <th>Machine Name *</th>
          <th>IP Address *</th>
          <th>OS Version *</th>
          <th>Antivirus Status *</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput formControlName="deviceId" placeholder="Device ID" />
              <mat-error *ngIf="deviceForm.get('deviceId')?.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput formControlName="machineName" placeholder="Machine Name" />
              <mat-error *ngIf="deviceForm.get('machineName')?.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput formControlName="ipAddress" placeholder="IP Address" />
              <mat-error *ngIf="deviceForm.get('ipAddress')?.hasError('required')">
                Required
              </mat-error>
              <mat-error *ngIf="deviceForm.get('ipAddress')?.hasError('pattern')">
                Invalid IP format
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput formControlName="osVersion" placeholder="OS Version" />
              <mat-error *ngIf="deviceForm.get('osVersion')?.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput formControlName="antivirusStatus" placeholder="Antivirus Status" />
              <mat-error *ngIf="deviceForm.get('antivirusStatus')?.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
      <thead class="dash-theme text-white">
        <tr>
          <th>Firewall Status *</th>
          <th>Last Update Check</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput formControlName="firewallStatus" placeholder="Firewall Status">
              <mat-error *ngIf="deviceForm.get('firewallStatus')?.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Last Update Check" (dateChange)="onDateChange($event.value, 'lastUpdateCheck')" formControlName="lastUpdateCheck" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="deviceForm.get('lastUpdateCheck')?.hasError('required')">
            Required
            </mat-error>
            </mat-form-field>
          </td>
            </tr>
      </tbody>
    </table>
  </div>

  <!-- Installed Software Sub-table -->
  <div class="mt-4 rounded-2">
    <span class="mb-2 h5 text-secondary">Installed Software</span>
    <div class="table-wrapper table-shadow rounded-2 mt-2">
    <table class="compform-table bg-white">
      <thead class="dash-theme text-white">
        <tr>
          <th>Software Name *</th>
          <th>Version *</th>
          <th>Installed Date *</th>
          <th>Vendor Name *</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody formArrayName="installedSoftware">
        <tr *ngFor="let software of installedSoftware.controls; let i = index; let last = last" [formGroupName]="i">
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput placeholder="Software Name" formControlName="name" />
              <mat-error *ngIf="software.get('name')?.hasError('required')">Required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput placeholder="Version" formControlName="version" />
              <mat-error *ngIf="software.get('version')?.hasError('required')">Required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
            <input matInput [matDatepicker]="picker" (dateChange)="onSoftwareDateChange($event.value, i)" placeholder="Installed Date" formControlName="InstalledDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="software.get('InstalledDate')?.touched && software.get('InstalledDate')?.hasError('required')">
             Required
            </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width">
              <input matInput placeholder="Vendor Name" formControlName="VendorName" />
              <mat-error *ngIf="software.get('VendorName')?.hasError('required')">Required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button type="button" (click)="removeSoftware(i)">
              <mat-icon class="material-symbols-outlined" matTooltip="Remove">delete</mat-icon>
            </button> &nbsp;&nbsp;
            <button *ngIf="last" mat-icon-button type="button" (click)="addSoftware()"> 
              <mat-icon class="material-symbols-outlined" matTooltip="Add Software">add_circle</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-4">
    <button class="text-white btn btn-secondary" type="button" (click)="addComputerData()" [disabled]="deviceForm.invalid">
      Add Machine
    </button>
  </div>
  </div>
</form>

</div>

<div class="mt-3">
  <div class="d-flex justify-content-between">
    <span class="h5 text-secondary">Computer Details</span>
    <div class="text-white h5 me-2 w-fit-content bg-secondary rounded p-2 fs-6">Total Items: {{storedComputerData.length}}</div>
  </div>

  <div class="overflow-auto mt-2 table-wrapper rounded-2 table-shadow">
    <table mat-table [dataSource]="pagedComputerData" matSort (matSortChange)="sortData($event)" id="comp-detail-table">

      <ng-container matColumnDef="ipAddress">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Ip Address</th>
        <td mat-cell *matCellDef="let computer" class="fnw-bold">{{computer.ipAddress}}</td>
      </ng-container>

      <ng-container matColumnDef="hostname">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Machine Name</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.machineName}}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="osName">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Os Name</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.osName}}</td>
      </ng-container> -->

      <ng-container matColumnDef="osVersion">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Os Version</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.osVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="antivirusStatus">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Antivirus Status</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.antivirusStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="firewallStatus">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Firewall Status</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.firewallStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="loggedInUser">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Loggedin User</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.loggedInUser}}</td>
      </ng-container>

      <ng-container matColumnDef="lastUpdateCheck">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Last Update Check</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.lastUpdateCheck}}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Time Stamp</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.lastUpdateCheck}}</td>
      </ng-container>
       <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Created AT</th>
        <td mat-cell *matCellDef="let computer" class="text-muted">{{computer.createdAt}}</td>
      </ng-container> -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="active" class="text-white text-nowrap">Status</th>
        <td mat-cell *matCellDef="let computer">
         @if(computer.active) {
          <span class='text-dark fnw-bold'>Active</span>
         } @else{
          <span class='text-dark fnw-bold'>No</span>
         } 
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-white text-nowrap">Action</th>
        <td mat-cell *matCellDef="let computer" class="text-black-shade">
          <div class="d-flex">
            <span (click)="openUpdateDialog($event, computer)" matTooltip="Edit Computer"
              class="material-symbols-outlined cursor-pointer bg-white rounded icon-shadow p-1 text-center">edit_square</span> 
            &nbsp;&nbsp;&nbsp;
            <span (click)="openViewComputerDialog(computer.uuid)" matTooltip="View Computer"
              class="material-symbols-outlined cursor-pointer bg-white rounded icon-shadow p-1 text-center">visibility</span>
            &nbsp;&nbsp;&nbsp;
            <span (click)="addApplication(computer)" matTooltip="Add Application"
              class="material-symbols-outlined cursor-pointer bg-white rounded icon-shadow p-1 text-center">new_window</span>
            &nbsp;&nbsp;&nbsp;
            <span (click)="deleteComputerData(computer.uuid)" matTooltip="Delete Computer"
              class="material-symbols-outlined cursor-pointer bg-white rounded icon-shadow p-1 text-center">delete</span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="comp-table-header dash-theme"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr *ngIf="isTableLoading">
        <td [attr.colspan]="displayedColumns.length" class="text-center">
          <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
        </td>
      </tr>
      <tr>

     <tr mat-footer-row *matFooterRowDef="['footerColumns']"></tr>   
  <ng-container matColumnDef="footerColumns">

  <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="pb-2">
           <!------------------------------pagination-start----------------------------------------->
    <div *ngIf="storedComputerData.length > 0" class="d-flex justify-content-center height-fit-content mt-4">
      <div class="col-lg-6 d-flex justify-content-evenly align-items-center height-fit-content">
        <label class="text-nowrap custom-fw-1">Page Size</label>&nbsp;&nbsp;
        <mat-select class="border rounded page-size-width p-2 bg-white" (selectionChange)="onPageSizeChange($event)"
          [(ngModel)]="pageSize">
          <mat-option class="bg-white" *ngFor="let size of pageSizes" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
        &nbsp;&nbsp;
        <span class="custom-fw-1 text-nowrap">{{start}} - {{end}} out of {{storedComputerData.length}} total
          Items</span>
        &nbsp;&nbsp;
        <button (click)="previousPage()"
          class="bg-white page-custom-btn btn d-flex justify-content-center align-items-center outline-0 border-0 rounded-circle mat-elevation-z1">
          <mat-icon class="material-symbols-outlined">
            arrow_back_ios
          </mat-icon>
        </button>
        &nbsp;&nbsp;
        <button (click)="nextPage()"
          class="bg-white page-custom-btn btn d-flex justify-content-center align-items-center outline-0 border-0 rounded-circle mat-elevation-z1">
          <mat-icon class="material-symbols-outlined">
            arrow_forward_ios
          </mat-icon>
        </button>
      </div>
    </div>
    <!--------------------------------------------pagination-end------------------------------------------------>
  <div *ngIf="storedComputerData.length === 0 && !isTableLoading" class="text-center text-muted py-3">
      No data found.
  </div>  
  <div *ngIf="isTableLoading" class="d-flex justify-content-center py-3">
    <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
  </div>    
  </td>
    </ng-container>

    </table>
  </div>
</div>

<!---------------------------------------------success-toast-start-------------------------------------------------->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 100">
  <div #successToast class="toast success bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
    <span data-bs-dismiss="toast" aria-label="Close" class="material-symbols-outlined float-end text-white fs-5 me-1 mt-1 cursor-pointer">close
    </span>
    <div class="toast-body text-white fw-bold py-3 d-flex align-items-center">
      {{successMessage}}
    </div>
    <div #succToastProgress class="succToastProgress" style="width: 100%;"></div>
  </div>
</div>
<!---------------------------------------------success-toast-end------------------------------------------------------>

<!---------------------------------------------error-toast-start-------------------------------------------------->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 100">
  <div #errorToast class="toast error-danger bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
<span data-bs-dismiss="toast" aria-label="Close" class="material-symbols-outlined float-end text-white fs-5 me-1 mt-1 cursor-pointer">close
</span>
    <div class="toast-body text-white fw-bold py-3 d-flex align-items-center">
      <span class="material-symbols-outlined">error</span>&nbsp;&nbsp; {{errorMessage}}
    </div>
    <div #errorToastProgress class="errorToastProgress" style="width: 100%;"></div>
  </div>
</div>
<!---------------------------------------------error-toast-end----------------------------------------------------->

<!---------------------------------------delete-confirm-toast------------------------------------>
<!-- Dialog Template -->
<ng-template #confirmDialog>
  <h6 class="dash-theme text-white ps-2 py-3">Delete</h6>
  <mat-dialog-content>Are you sure you want to delete this computer data?</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-gray-shade" (click)="dialogRef.close(false)">Cancel</button>
    &nbsp;
    <button class="btn btn-gray-shade" (click)="dialogRef.close(true)">Confirm</button>
  </mat-dialog-actions>
</ng-template>

<!---------------------------------------delete-confirm-toast-end-------------------------------->