  <!-- <div class="dash-theme text-center text-white py-3">
    <strong>Update Computer Data</strong>
  </div>

  <form [formGroup]="updateComputerForm" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-column gap-3 p-3">
        <mat-form-field appearance="fill">
          <mat-label>IP Address</mat-label>
          <input matInput formControlName="ipAddress" placeholder="IP Address">
          <mat-error *ngIf="updateComputerForm.get('ipAddress')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Host Name</mat-label>
          <input matInput formControlName="hostName" placeholder="Host Name">
          <mat-error *ngIf="updateComputerForm.get('hostName')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>OS Name</mat-label>
          <input matInput formControlName="osName" placeholder="OS Name">
          <mat-error *ngIf="updateComputerForm.get('osName')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>OS Version</mat-label>
          <input matInput formControlName="osVersion" placeholder="OS Version">
          <mat-error *ngIf="updateComputerForm.get('osVersion')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" placeholder="Location">
          <mat-error *ngIf="updateComputerForm.get('location')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>
      </div>

    <div mat-dialog-actions class="d-flex justify-content-end p-3">
      <button class="btn btn-gray-shade" type="button" (click)="dialogRef.close()">Cancel</button>&nbsp;
      <button class="btn btn-gray-shade" type="submit" [disabled]="!updateComputerForm.valid">Update</button>
    </div>
  </form> -->
<!-- Wrapper that animates from button to center -->
<div
  class="animation-wrapper"
  [ngStyle]="originStyle"
  [class.animate]="animate"
>
  <!-- Dialog content -->
  <div class="dialog-content">

    <div class="dash-theme text-center text-white py-3">
      <strong>Update Computer Data</strong>
    </div>

    <form [formGroup]="updateComputerForm" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-column gap-3 p-3">

        <mat-form-field appearance="fill">
          <mat-label>IP Address</mat-label>
          <input matInput formControlName="ipAddress" placeholder="IP Address">
          <mat-error *ngIf="updateComputerForm.get('ipAddress')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Host Name</mat-label>
          <input matInput formControlName="hostName" placeholder="Host Name">
          <mat-error *ngIf="updateComputerForm.get('hostName')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>OS Name</mat-label>
          <input matInput formControlName="osName" placeholder="OS Name">
          <mat-error *ngIf="updateComputerForm.get('osName')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>OS Version</mat-label>
          <input matInput formControlName="osVersion" placeholder="OS Version">
          <mat-error *ngIf="updateComputerForm.get('osVersion')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" placeholder="Location">
          <mat-error *ngIf="updateComputerForm.get('location')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>
      </div>

      <div mat-dialog-actions class="d-flex justify-content-end p-3">
        <button class="btn btn-gray-shade" type="button" (click)="close()">Cancel</button>&nbsp;
        <button class="btn btn-gray-shade" type="submit" [disabled]="!updateComputerForm.valid">Update</button>
      </div>
    </form>

  </div>
</div>
