<div #updateDialog class="animation-wrapper d-flex flex-column" [class.animate]="animate">
  <!-- Dialog content -->
  <div class="dialog-content">

    <div class="dash-theme sticky-top text-white p-2 d-flex justify-content-between align-items-center">
      <strong>Update Computer Data</strong>
      <button mat-icon-button class="d-flex align-items-center text-white" (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon class="material-symbols-outlined fw-bold">close</mat-icon>
      </button>
    </div>

    <form [formGroup]="updateComputerForm" (ngSubmit)="onSubmit()">
      <div class="update-form d-flex flex-column gap-3 p-3">

        <mat-form-field appearance="fill">
          <mat-label>IP Address</mat-label>
          <input matInput formControlName="ipAddress" placeholder="IP Address">
          <mat-error *ngIf="updateComputerForm.get('ipAddress')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Machine Name</mat-label>
          <input matInput formControlName="machineName" placeholder="Machine Name">
          <mat-error *ngIf="updateComputerForm.get('machineName')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>OS Version</mat-label>
          <input matInput formControlName="osVersion" placeholder="OS Version">
          <mat-error *ngIf="updateComputerForm.get('osVersion')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Antivirus Status</mat-label>
          <input matInput formControlName="antivirusStatus" placeholder="Antivirus Status">
          <mat-error *ngIf="updateComputerForm.get('antivirusStatus')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Firewall Status</mat-label>
          <input matInput formControlName="firewallStatus" placeholder="Firewall Status">
          <mat-error *ngIf="updateComputerForm.get('firewallStatus')?.hasError('required')">
            Please fill this field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Last Update Check</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Last Update Check" (dateChange)="onDateChange($event.value, 'lastUpdateCheck')" formControlName="lastUpdateCheck" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="updateComputerForm.get('lastUpdateCheck')?.hasError('required')">
            Required
            </mat-error>
        </mat-form-field>
      </div>

      <div mat-dialog-actions class="d-flex justify-content-end p-3">
        <button class="btn btn-gray-shade" type="button" (click)="close()">Cancel</button>&nbsp;
        <button class="btn btn-gray-shade" type="submit" [disabled]="!updateComputerForm.valid">Update</button>
      </div>
    </form>

  </div>
</div>

<!---------------------------------------------success-toast-start-------------------------------------------------->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 100">
  <div #successToast class="toast success bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
    <span data-bs-dismiss="toast" aria-label="Close" class="material-symbols-outlined float-end text-white fs-5 me-1 mt-1 cursor-pointer">close
    </span>
    <div class="toast-body text-white fw-bold py-3 d-flex align-items-center">
      {{successMessage}}
    </div>
    <div #succToastProgress class="succToastProgress" style="width: 100%;"></div>
  </div>
</div>
<!---------------------------------------------success-toast-end------------------------------------------------------>

<!---------------------------------------------error-toast-start-------------------------------------------------->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 100">
  <div #errorToast class="toast error-danger bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
<span data-bs-dismiss="toast" aria-label="Close" class="material-symbols-outlined float-end text-white fs-5 me-1 mt-1 cursor-pointer">close
</span>
    <div class="toast-body text-white fw-bold py-3 d-flex align-items-center">
      <span class="material-symbols-outlined">error</span>&nbsp;&nbsp; {{errorMessage}}
    </div>
    <div #errorToastProgress class="errorToastProgress" style="width: 100%;"></div>
  </div>
</div>
<!---------------------------------------------error-toast-end----------------------------------------------------->