<div class="view-table border-theme overflow-auto">
<table class="styled-table" *ngIf="!isLoading">
  <thead>
    <tr>
        <th colspan="6" class="text-center sticky-top dialog-heading">🖥️ Computer Info</th>
    </tr>
    <tr class="dash-theme text-white">
      <th>Device Id</th>
      <th>IP Address</th>
      <th>Host Name</th>
      <th>OS Version</th>
      <th>Antivirus Status</th>
      <th>Firewall Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!computerData || computerData.length === 0">
      <td colspan="6" class="empty">No computer data found</td>
    </tr>
      <tr>
        <td>{{computerData.computer.deviceId}}</td>
        <td>{{ computerData.computer.ipAddress }}</td>
        <td>{{ computerData.computer.hostname }}</td>
        <td>{{ computerData.computer.osVersion }}</td>
        <td>{{ computerData.computer.antivirusStatus }}</td>
        <td>{{ computerData.computer.firewallStatus }}</td>
      </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="6" class="text-center sticky-top dialog-heading text-primary">📦 Application</th>
    </tr>
    <tr class="dash-theme text-white">
        <th>Name</th>
        <th>Vendor</th>
        <th>Version</th>
        <th>Installed Date</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!computerData.applications?.length">
      <td colspan="6" class="empty">No applications found</td>
    </tr>
    <tr *ngFor="let app of computerData.applications; let i = index">
      <td>{{ app.name }}</td>
      <td>{{ app.vendorName }}</td>
      <td>{{ app.version }}</td>
      <td>{{ app.installedDate }}</td>
      <td>{{app.createdAt}}</td>
      <td class="text-center"><span (click)="openViewApplicationDialog(app.uuid)" matTooltip="View Computer"
              class="material-symbols-outlined cursor-pointer bg-white rounded icon-shadow p-1 text-center">visibility</span></td>
    </tr>
  </tbody>
  
</table>
</div>

<!-- your-component.component.html -->
<ng-template #vulnerabilityData let-data>
  <div>
    <table class="styled-table">
      <thead>
        <tr class="dash-theme text-white p-2">
          <th>CveId</th>
          <th>Description</th>
          <th>Severity</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="text-center">No Data Found.</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!------------------------------------Progress-bar--------------------------------------------------->
<div *ngIf="isLoading" class="position-fixed top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center spinner-opacity">
    <mat-spinner></mat-spinner>
</div>
<!------------------------------------Progress-bar-end-------------------------------------------------->