<!-----------------------------------------update-form-start--------------------------------------->
  <h5 class="dash-theme text-white py-3 text-center">Update Dependency Data</h5>
  <form [formGroup]="updateDependencyForm" class="container-fluid" (ngSubmit)="onSubmit()" mat-dialog-content>
    <div class="row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error class="error-field" *ngIf="updateDependencyForm.get('name')?.hasError('required')">
        Please fill this field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Version</mat-label>
      <input matInput formControlName="version" placeholder="Version">
      <mat-error class="error-field" *ngIf="updateDependencyForm.get('version')?.hasError('required')">
        Please fill this field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Group Id</mat-label>
      <input matInput formControlName="groupId" placeholder="Group Id">
      <mat-error class="error-field" *ngIf="updateDependencyForm.get('groupId')?.hasError('required')">
        Please fill this field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label class="fw-bold">Artifact Id</mat-label>
      <input matInput formControlName="artifactId" placeholder="Aftifact Id">
      <mat-error class="error-field" *ngIf="updateDependencyForm.get('artifactId')?.hasError('required')">
        Please fill this field
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions class="d-flex justify-content-end py-2">
      <button class="btn btn-gray-shade" type="button" (click)="dialogRef.close()">Cancel</button>
      &nbsp;
      <button class="btn btn-gray-shade" type="submit" [disabled]="updateDependencyForm.invalid">
        Update
      </button>
    </div>
    </div>
  </form>