<div  #cpeList class="overflow-auto container-fluid">
  <div [ngClass]="{'table-dark': darkMode, 'table-white': !darkMode}" class="caption-side-top custom-fw-1"><span class="cursor-pointer" (click)="goBack()"><img [src]="darkMode ? 'images/arrow_back_32dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png' : 'images/arrow_back_32dp_000000_FILL0_wght400_GRAD0_opsz40.png'" alt="back"></span>&nbsp;&nbsp;<span>Total CPE Results: <span [ngClass]="{'text-warning': darkMode, 'text-primary': !darkMode}" class="h5">{{cpeData.length}}</span></span>
<span *ngIf="cpeData.length > 0" class="float-end">
  <input class="cpe-search-field rounded ps-3 py-1" [ngClass]="{'text-white': darkMode, 'text-dark': darkMode, 'custom-auto-black': darkMode, 'custom-app-grey': !darkMode}" type="text" placeholder="Search" (keyup)="searchCPEs($event)">
  </span>
</div>
<table #table *ngIf="cpeData.length > 0" [ngClass]="{'table-dark': darkMode, 'table-white': !darkMode}"
class="table table-responsive-lg table-borderless table-striped mt-2">
    <thead>
        <tr>
            <th>CPE Name</th> 
        </tr>
    </thead>
     <tbody>
        <tr *ngFor="let data of pagedCpeData; let i = index" #cpeRow [attr.data-id]="i">
            <td><a [innerHTML]="data.cpe23Uri | highlight:searchTerm" (click)="searchCpeName(data.cpe23Uri, i)" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" class="text-white cursor-pointer"></a></td>
            <!-- <td *ngIf="!searchVariant" class="w-50"><mat-icon matTooltip="Add Hint" (click)="addDependencyHint(data.cpe23Uri)" class="material-symbols-outlined cursor-pointer text-success fs-3">post_add</mat-icon></td> -->
        </tr>
     </tbody>
     <tfoot>
      <tr>
        <td colspan="2">
          <!---------------------------------pagination-start----------------------------------------------->
<div *ngIf="cpeData.length > 0;" class="row justify-content-center height-fit-content">
<div class="col-lg-5 d-flex justify-content-evenly align-items-center height-fit-content">
  <mat-label class="text-nowrap" [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode, 'border-white': darkMode, 'border-dark': darkMode,'text-white': darkMode, 'text-dark': !darkMode}">Page Size</mat-label>
  <mat-select class="border rounded page-size-width p-2" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" (selectionChange)="onPageSizeChange($event)" [(ngModel)]="pageSize">
    <mat-option [ngClass]="{'bg-dark':darkMode, 'bg-white':!darkMode, 'text-white':darkMode, 'text-dark': !darkMode}" *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </mat-option>
  </mat-select>
<span [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" class="text-white">{{start}} - {{end}} out of {{cpeData.length}} cpe's</span>

<button (click)="previousPage()" [ngClass]="{'bg-white': darkMode, 'custom-app-grey': !darkMode}" class="page-custom-btn btn d-flex justify-content-center align-items-center outline-0 border-0 rounded-circle shadow-sm"> 
<mat-icon class="material-symbols-outlined">
arrow_back_ios
</mat-icon>  
</button>
<button (click)="nextPage()" [ngClass]="{'bg-white': darkMode, 'custom-app-grey': !darkMode}" class="page-custom-btn btn d-flex justify-content-center align-items-center outline-0 border-0 rounded-circle shadow-sm">
<mat-icon class="material-symbols-outlined">
arrow_forward_ios
</mat-icon>
</button>
</div>
</div>
<!---------------------------------pagination-end------------------------------------------------>
        </td>
      </tr>
     </tfoot>
</table>
<!--------------------------------No-vulnerability-data-start------------------------------------->
<div #noCpeData *ngIf="cpeData.length === 0" [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode}" class="d-flex justify-content-center align-items-center mt-2">
  <div class="text-center">
    <span [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" class="h3">No CPE Data Found</span>
  </div>
</div>
<!--------------------------------No-vulnerability-data-end--------------------------------------->
</div>

<div class="position-fixed h-100 d-flex justify-content-center align-items-center" *ngIf="isLoading"
    [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode}">
    <div id="progress-bar" class="loader" style="--n: 16; --f: 0.2">
    </div>
</div>    