<mat-toolbar *ngIf="!isAnimate" [ngClass]="{'bg-black': darkMode, 'bg-topnav': !darkMode, 'border-secondary': darkMode,'sticky-top': !isNavbarSticky}" class="p-0 border border-start-0 border-top-0 border-end-0">
  <div class="p-2 col-2 show-lg"><img src="images/isteer_logo-1.png" height="64px" alt="isteer"></div>
  <div class="container-fluid col-10">    
  <div class="row align-items-center px-2">
  <div class="col-9" height="64px">
  <button
        type="button"
        mat-icon-button
        *ngIf="isMobile"
        (click)="toggleSidenavMode()"
      >
        <mat-icon class="material-symbols-outlined">menu</mat-icon>
      </button>
      <span [ngClass]="{'text-primary': !darkMode, 'text-white': darkMode}" class="fnw-bold fs-3 mb-4"> CVSS Dashboard</span>
      </div>
      <div class="col-3 d-flex justify-content-end">
       <div class="form-check form-switch show-lg w-fit-content">
          <input class="form-check-input" [(ngModel)]="darkMode" (click)="changeTheme($event)" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label custom-fw-1 text-wrap" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" for="flexSwitchCheckDefault">Dark Mode</label>
        </div>
      </div>  
      </div>
      </div>
    </mat-toolbar>
<mat-sidenav-container autosize>
  <!-- Side Navigation -->
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    fixedInViewport="true"
    [fixedTopGap]="64"
    *ngIf="!isAnimate"
    class="mat-elevation-z4 sidenav border border-start-0 border-top-0 border-bottom-0 bg-sidemenu"
    [ngClass]="{'bg-black': darkMode, 'bg-light': !darkMode, 'text-white': darkMode, 'text-dark': !darkMode, 'border-secondary': darkMode}">
    <div>
  <ul class="nav flex-column">
    <li class="show-md"><div class="p-2 col-2"><img src="images/isteer_logo-1.png" height="50px" alt="isteer"></div></li>
    <ng-container *ngFor="let item of parentMenu; let pi = index">
    <li
      class="nav-item dash-menu-item"
    >
      <div class="cursor-pointer py-3 ps-2 d-flex justify-content-between align-items-center fnw-bold" (click)="toggleSubMenu(pi)" [routerLink]="item.route ? [item.route] : null" 
      [ngClass]="{'text-white': darkMode,'text-dark': !darkMode,'router-link-active': activeParentIndex === pi}"
      >
        <div [ngClass]="{'router-link-active': activeParentIndex === pi}" class="d-flex align-items-center">
          <span class="material-symbols-outlined p-1 rounded fw-light">{{ item.icon }}</span>
          &nbsp;<span>{{ item.label }}</span>
        </div>
        <mat-icons *ngIf="item.child?.length" [ngClass]="'angle'+pi" class="material-symbols-outlined d-flex align-items-center text-secondary angle{{pi}} me-3 rounded-circle bg-gray">stat_minus_1</mat-icons>
      </div>
      
    </li>
    <ul *ngIf="item.child?.length && activeParentIndex === pi" class="ps-3 no-menu-hover">
        <li
          *ngFor="let childItem of item.child"
          class="scan-child nav-item py-2 d-flex align-items-center cursor-pointer fnw-bold"
          [routerLink]="[childItem.route, childItem.id]" 
          routerLinkActive="link-active"
          #rla="routerLinkActive"
          [ngClass]="{
            'link-active': rla.isActive,
            'text-white': darkMode && !rla.isActive,
            'text-dark': !darkMode && !rla.isActive
          }"
        >
          <span class="material-symbols-outlined p-1 rounded fw-light">{{ childItem.icon }}</span>
          &nbsp; {{ childItem.label }}
        </li>
      </ul>
    </ng-container>
    <li class="show-md nav-item"><div class="form-check form-switch w-fit-content ms-3 py-3">
          <input class="form-check-input" [(ngModel)]="darkMode" (click)="changeTheme($event)" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label custom-fw-1 text-wrap" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" for="flexSwitchCheckDefault">Dark Mode</label>
        </div></li>
  </ul>
</div>

  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Toolbar -->

    <!-- Main Content Area -->
    <div #dashBoard class="h-100 content-area" [ngClass]="{'bg-dark-shade': darkMode, 'bg-white': !darkMode}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div #dashBoard *ngIf="!isAnimate && !isLoading" [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode}" class="pb-2"> -->

    <!-------------------------------Top-Searchbar-start-------------------------------------->
    <!-- <div #navBarParent class="container-fluid sticky-top mat-elevation-z2" [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode}">
    <div #navBar class="row justify-content-between red-padd p-2">
      <div class="col-lg-4">
      <div class="d-flex pt-2">  
      <img class="w-25 rounded isteer-logo" src="images/iSteer_logo.png" alt="isteer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
      <span class="h2 mt-2 dash-font" [ngClass]="{'text-warning': darkMode, 'text-primary': !darkMode}"><a [routerLink]="['/']" class="nav-link cursor-pointer fnw-bold">CVSS Dashboard</a></span>
      </div>
      </div> -->
<!--------------------------------Search-section-start--------------------------------------------------->
      <!-- <div [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" class="col-lg-4">
        <div class="d-flex search-type align-items-center pt-2">
        <div class="col-10 d-flex">  
        <div class="search-title w-fit-content h5 text-nowrap">Search Type</div>
        <div class="col-6 ps-3">
        <select [(ngModel)]="searchType" (change)="searchField = 0" class="rounded form-control">
          <option *ngFor="let type of searchTypes" [value]="type.id">{{type.value}}</option>
        </select>
        </div>
        <div class="col-3 d-flex justify-content-center">
        <button class="btn btn-danger" (click)="openScanModal()">Scan</button>
        </div>
        </div>
        <div class="col-2 show-md">
        <div class="form-switch d-flex flex-wrap justify-content-end">
          <input class="form-check-input" [(ngModel)]="darkMode" (click)="changeTheme($event)" type="checkbox" id="flexSwitchCheckDefault">&nbsp;
          <span class="form-check-label custom-fw-1 pe-2" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" for="flexSwitchCheckDefault"><img [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" [src]="darkMode ? 'images/shield_moon_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png' : 'images/shield_moon_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png'" alt="Moon"></span>
        </div>
        </div>
        </div>  -->
        <!-- <div class="row justify-content-evenly align-items-center pt-2">
        <div class="search-type px-2 col-sm-12">
        <div class="search-title h5 text-nowrap ps-1 mt-2">Search Type&nbsp;&nbsp;</div>
        <select [(ngModel)]="searchType" (change)="searchField = 0" class="rounded w-25 form-control">
          <option *ngFor="let type of searchTypes" [value]="type.id">{{type.value}}</option>
        </select>

        <button class="btn btn-danger" (click)="openScanModal()">Scan</button>

        <div class="form-switch d-flex flex-wrap justify-content-end show-md">
          <input class="form-check-input" [(ngModel)]="darkMode" (click)="changeTheme($event)" type="checkbox" id="flexSwitchCheckDefault">&nbsp;
          <span class="form-check-label custom-fw-1 pe-2" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" for="flexSwitchCheckDefault"><img [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" [src]="darkMode ? 'images/shield_moon_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png' : 'images/shield_moon_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png'" alt="Moon"></span>
        </div>
        </div>
        </div> -->

        <!-- <div id="search-type" *ngIf="searchType == 1" class="d-flex justify-content-evenly py-3" [ngClass]="{'search-type-checkbox': !darkMode}">
        <div class="col-4 d-flex align-items-center">KeyWord&nbsp;&nbsp;<input [(ngModel)]="searchField" (click)="onFocus($event)" type="radio" name="keyword" [value]="1"></div>
        <div class="col-4 d-flex align-items-center">CVE ID&nbsp;&nbsp;<input [(ngModel)]="searchField" (click)="searchValue = 'CVE-'" type="radio" name="keyword" [value]="2"></div>
        <div class="col-4 d-flex align-items-center">CPE Name&nbsp;&nbsp;<input [(ngModel)]="searchField" (click)="onFocus($event)" type="radio" name="keyword" [value]="3"></div>
        </div>
        <div id="search-type" *ngIf="searchType == 2" class="d-flex py-3" [ngClass]="{'search-type-checkbox': !darkMode}">
        <div class="col-4 d-flex align-items-center">KeyWord&nbsp;&nbsp;<input type="radio" [(ngModel)]="searchField" (click)="onFocus($event)" name="keyword" [value]="4"></div>
        <div class="col-8 d-flex align-items-center text-nowrap">Likely CPE Name&nbsp;&nbsp;<input type="radio" [(ngModel)]="searchField" (click)="onFocus($event)" name="keyword" [value]="5"></div>
        </div>
      </div> -->
<!--------------------------------Search-section-end--------------------------------------------------->
      <!-- <div class="col-lg-4 d-flex flex-column align-items-center ps-2">
      <div class="w-100 pt-2">
      <div class="w-100 dep-inp-ht d-flex align-items-center">
        <input [(ngModel)]="searchValue" [ngClass]="{'text-white': darkMode, 'text-dark': darkMode, 'custom-auto-black': darkMode, 'custom-app-grey': !darkMode}"
          class="col-8 p-2 px-5 rounded-start-3 border-0"
          type="text"
          id="dependency-search"
          [placeholder]="searchType == 1 ? 'Vulnerability Search' : 'Dependency Search'" (focus)="onFocus($event)"
          (keydown)="onKeyDown($event)" (input)="onInputChange($event)" (keyup.enter)="searchField !== 0 && setSearchUrl()"
        />
        <button [ngClass]="{'text-white': darkMode, 'text-dark': darkMode, 'custom-auto-black': darkMode, 'custom-app-grey': !darkMode}" [disabled]="searchField === 0" (click)="setSearchUrl()"
          class="border-0 col-4 rounded-end-3 h-100 d-flex align-items-center"
        >
          <mat-icon [ngClass]="{'search-button': searchType !== 0, 'text-white': darkMode, 'text-dark': darkMode, 'bg-dark': darkMode, 'bg-white': !darkMode, 'no-hover': searchField === 0}"
            class="w-100 fs-3 py-3 rounded-3 d-flex justify-content-center align-items-center material-symbols-outlined"
          >
            arrow_forward
          </mat-icon>
        </button>
      </div>
      <span *ngIf="searchField === 5" class="ps-3 text-red fs-sm fw-bold">e.g: cpe:2.3:a:vmware:framework:5.3.20:*:*:*:*:*:*:*</span>
      </div>
      
        <div class="w-100 mt-3 d-flex justify-content-end">
        <div class="form-check form-switch show-lg">
          <input class="form-check-input" [(ngModel)]="darkMode" (click)="changeTheme($event)" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label custom-fw-1 text-wrap" [ngClass]="{'text-white': darkMode, 'text-dark': !darkMode}" for="flexSwitchCheckDefault">Dark Mode</label>
        </div>
      </div>
      
      </div>
    </div>
    </div> -->
    <!-------------------------------Top-Searchbar-end------------------------------------------>
    <!--------------------------------------router-outlet---------------------------------------->
    <!-- <div class="container-fluid pt-3">
    <div class="row">
    <router-outlet></router-outlet>
    </div>
    </div> -->
    <!--------------------------------------router-outlet---------------------------------------->

<!-- </div> -->

<!--------------------------------------portnumber-alert-modal--------------------------------------->
<!-- <div class="modal fade" data-bs-backdrop="static" #alertModal>
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Reminder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div>
           <p>Scanned data found. Scan again?.</p>
        </div>
        <div>
        <button class="btn btn-danger" data-bs-toggle="modal" (click)="openNewScan()"  data-bs-dismiss="modal">Yes</button>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="viewScannedDependencies()" data-bs-dismiss="modal">No</button></div>
      </div>
  </div>
</div>
</div> -->
<!--------------------------------------portnumber-alert-modal--------------------------------------->
<!--------------------------------------portnumber-modal--------------------------------------->
<!-- <div class="modal fade" data-bs-backdrop="static" #getPortNumber>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Enter Your Port Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
         <div class="w-75">
           <label class="form-label fnw-bold text-primary" for="customFile">Upload pom.xml file (Optional)</label>
           <input type="file" class="form-control" id="customFile" (change)="onFileUpload($event)"/>
           </div>
        <div class="d-flex justify-content-between mt-4">
           <input type="number" class="w-75 form-control" [(ngModel)]="portNumber">
           <button class="btn btn-danger" [disabled]="portNumber.toString().length < 4" (click)="startScan()" data-bs-dismiss="modal">Scan</button>
          </div>
      </div>
  </div>
</div>
</div> -->
<!--------------------------------------portnumber-modal--------------------------------------->
<!--------------------------------------portnumber-modal--------------------------------------->
<div class="modal fade" data-bs-backdrop="static" #getPortNumberSearch>
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white">Enter Your Port Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
           <input type="number" class="w-75 form-control" [(ngModel)]="portNumber">
           <button class="btn btn-danger" [disabled]="portNumber.toString().length < 4" (click)="setPortNumber()" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
  </div>
</div>
</div>
<!--------------------------------------portnumber-modal--------------------------------------->

<div
  class="position-fixed top-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column"
  *ngIf="isLoading"
  [ngClass]="{'bg-dark': darkMode, 'bg-white': !darkMode}"
  style="z-index: 1055"
>
  <div id="progress-bar" class="loader" style="--n: 16; --f: 0.2"></div>
  <div class="text-center"><button (click)="cancelSearch()" class="btn btn-secondary">Cancel</button></div>
</div>

<!-- <ng-template #scanDialog>
  <h2 mat-dialog-title class="bg-danger text-white p-2">Enter Your Port Number</h2>

  <mat-dialog-content class="p-3">
    <div class="mb-3">
      <label class="form-label text-primary">Upload pom.xml file (Optional)</label>
      <input type="file" class="form-control" (change)="onFileUpload($event)" />
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <input type="number" [(ngModel)]="portNumber" class="form-control me-3" placeholder="Enter Port Number" />
      <button mat-raised-button color="warn" [disabled]="!portNumber || portNumber.toString().length < 4" (click)="startScan()">Scan</button>
    </div>
  </mat-dialog-content> -->