<div [ngClass]="{'bg-dark': !lightMode, 'bg-white': lightMode}" class="container-fluid position-fixed h-100 overflow-auto">
  <div class="row px-3 justify-content-center">
    <!-------------------------------Top-Searchbar-start-------------------------------------->
    <div class="row py-2 pt-3 justify-content-between align-items-center">
      
      <div class="col-lg-4">
      <span [ngClass]="{'text-white': !lightMode, 'text-dark': lightMode}" class="h3">CVSS Dashboard</span>
      </div>

      <div [ngClass]="{'text-white': !lightMode, 'text-dark': lightMode}" class="col-lg-4 py-2">
        <h5>Search Type</h5> 
        <div id="search-type" class="d-flex justify-content-evenly"  [ngClass]="{'search-type-checkbox': !lightMode}">
        <div class="col-4 d-flex align-items-center">KeyWord&nbsp;&nbsp;<input [(ngModel)]="searchType" type="radio" name="keyword" [value]="1"></div>
        <div class="col-4 d-flex align-items-center">CVE ID&nbsp;&nbsp;<input [(ngModel)]="searchType" type="radio" name="keyword" [value]="2"></div>
        <div class="col-4 d-flex align-items-center">CPE Name&nbsp;&nbsp;<input [(ngModel)]="searchType" type="radio" name="keyword" [value]="3"></div>
        </div>
      </div>

      <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
        <div class="w-100 pb-1 d-flex justify-content-end">
        <div class="form-check form-switch">
          <input class="form-check-input" [(ngModel)]="lightMode" (click)="changeTheme($event)" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" [ngClass]="{'text-white': !lightMode, 'text-dark': lightMode}" for="flexSwitchCheckDefault">Light Mode</label>
        </div>
      </div>
      <div class="w-100 dep-inp-ht d-flex align-items-center">
        <input [(ngModel)]="searchValue" [ngClass]="{'text-white': !lightMode, 'text-dark': lightMode, 'custom-auto-black': !lightMode, 'custom-app-grey': lightMode}"
          class="col-8 p-2 px-5 rounded-start-3 border-0"
          type="text"
          id="dependency-search"
          placeholder="Dependency Search"
        />
        <button [ngClass]="{'text-white': !lightMode, 'text-dark': lightMode, 'custom-auto-black': !lightMode, 'custom-app-grey': lightMode}" [disabled]="searchType == 0" (click)="setSearchUrl()"
          class="border-0 col-4 rounded-end-3 h-100 d-flex align-items-center"
        >
          <mat-icon [ngClass]="{'search-button': searchType !== 0, 'text-white': !lightMode, 'text-dark': lightMode, 'bg-dark': !lightMode, 'bg-white': lightMode}"
            class="w-100 fs-3 py-3 rounded-3 d-flex justify-content-center align-items-center"
          >
            arrow_forward
          </mat-icon>
        </button>
      </div>
      
      </div>
    </div>
    <!-------------------------------Top-Searchbar-end------------------------------------------>

    <!--------------------------------Vulnerability-table-start--------------------------------------->

    <!-- <app-vulnerabilitylist [vulnerabilityData]="vulnerabilityData" [isLoading]="isLoading" [lightMode]="lightMode" [searchVariant]="searchVariant"></app-vulnerabilitylist> -->

    <!--------------------------------Vulnerability-table-end----------------------------------------->

    <!--------------------------------dependencies-list-table-start---------------------------------------->
     <!-- <app-dependencies *ngIf="dependencies && dependencies.length > 0" [dependencies]="dependencies" [isLoading]="isLoading" [lightMode]="lightMode"></app-dependencies> -->
    <!--------------------------------dependencies-list-table-end---------------------------------------->
    <router-outlet></router-outlet>
    <div
      class="position-fixed h-100 d-flex justify-content-center align-items-center"
      *ngIf="isLoading" [ngClass]="{'bg-dark': !lightMode, 'bg-white': lightMode}"
    >
      <div class="d-flex flex-column"> 
      <div id="progress-bar" class="loader" [ngStyle]="{'--p': progress + '', 'animation':animationStyle}" style="--n: 16; --f: 0.2"></div>
      <p class="text-white h5 text-center">Analyzed <span class="text-warning">{{fetchedDependencies}}</span> out of <span class="text-warning">{{totalDependencies}}</span> dependencies</p>
      </div>
    </div>
    
    <div
      class="position-fixed h-100 d-flex justify-content-center align-items-center"
      *ngIf="isAnimate" [ngClass]="{'bg-dark': !lightMode, 'bg-white': lightMode}"
    >
      <div id="progress-bar" class="loader" style="--n: 16; --f: 0.2">  
      </div>
    </div>
    <div class="scan-ui">
      <button (click)="startScan()" [disabled]="isScanning">Start Vulnerability Scan</button>
    
      <div class="log-messages" *ngIf="messages.length > 0">
        <h3>Scan Progress</h3>
        <ul>
          <li class="text-white">{{ messages.fetchedDependencies }}</li>
          <div class="text-white" id="messages-end"></div>
        </ul>
      </div>
    </div>
    
  </div>
</div>
