* {
     /* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.custom-auto-black{
    background-color: black;
}
.custom-app-grey{
    background-color: rgb(228, 227, 227) !important;
} 
.app-vul-scrollbar::-webkit-scrollbar {
    width: 10px;
}
  
.app-vul-scrollbar::-webkit-scrollbar-track {
    background: #d1d1d1; 
}
   
.app-vul-scrollbar::-webkit-scrollbar-thumb {
    background: #7a7a7a; 
}

.app-vul-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #464646; 
}
.app-vul-scrollbar::-webkit-scrollbar:horizontal {
  height: 10px;
}

.app-vul-scrollbar::-webkit-scrollbar-track:horizontal {
  background: #d1d1d1;
}

.app-vul-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #7a7a7a;
}
.app-vul-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background: #464646;
}

.text-black {
    color: black;
}
.custom-card {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 16px;
    border-radius: 8px;
  }
  
  .custom-table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
  
    .mat-header-cell {
      font-weight: 600;
      background-color: var(--header-bg);
      color: var(--header-color);
    }
  
    .mat-cell {
      background-color: var(--row-bg);
      color: var(--text-color);
    }
  
    .mat-row:nth-child(even) .mat-cell {
      background-color: var(--row-alt-bg);
    }
  }
.custom-col-db-black{
    background-color: rgba(20, 20, 20, 0.904);
}
.custom-col-db-white{
    background-color: rgb(236, 235, 235);
}
.cursor-pointer {
    cursor: pointer;
}
.caption-side-top{
    caption-side: top;
}
.custom-fw-1 {
    font-weight: 500;
}
.bg-alice {
    background-color: rgb(221, 235, 248);
    /* background-color: rgb(251, 251, 251); */
}

