.mat-table {
    background: var(--mat-sys-surface-container-low);
    color: var(--mat-sys-on-surface);
  }
  
  .mat-header-cell {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
  
  .mat-row:hover {
    background-color: var(--mat-sys-surface-container-highest);
  }
  